block prizes
  .section.prizes#prizes
    .container.prizes__container
      .row
        .col
          h2.prizes__header Список призов
      ul.prizes__list
        - 
          var prizes = [
            {
              id: 'imac',
              list: [
                'iMac 21,5"',
                'MacBook Air',
                  ],
              image: 'imac.png',
            },
            {
              id: 'ipad',
              list: [
                'iPad Pro 12,9"',
                'iPad',
                'iPad Mini',
                  ],
              image: 'ipad.png',
            },
            {
              id: 'iphone',
              list: [
                'iPhone X',
                'iPhone 8 Plus',
                'iPhone 8',
                'iPhone SE',
                  ],
              image: 'iphone.png',
            },
            {
              id: 'iwatch',
              list: [
                'Apple Watch Nike +',
                  ],
              image: 'iwatch.png',
            },
          ]
        each item, i in prizes
          li.prizes__item
            .row.h-100
              .col-md-4.prizes__text(
                class=i % 2 == 0 ? 'order-md-first' : 'order-md-last'
              )
                ul
                  each li in item.list
                    li
                      p=li
              .col-md-8.prizes__image(
              )
                  img.img-fluid(
                    class=`prizes__image-${item.id}`,
                    src=`img/${item.image}`, 
                    alt=""
                    )
