-// Попробовать загнать повторяющийся код в миксин

section.section.chooseUs
  .container.h-100.chooseUs__container
    .row.justify-content-center
      .col-md-auto
        h2 why choose us
        .divider.chooseUs__divider
    .row.align-items-start.h-100.no-gutters
      each col, c  in cols
        if col != cols.middle
          .col-md.h-50
            each row, r in col
              .row.no-gutters.chooseUs__row
                if c == 'left'
                  .col-md-9
                    .chooseUs__data.chooseUs__data-left
                      h3=col[r].header
                      p=col[r].text
                  .col-md-3.chooseUs__pic
                    img.img.img-fluid(src=`/img/chooseUs/${col[r].img}`, alt=`${col[r].header}`)
                if c == 'middle'
                  .col-md-12.chooseUs__pic-middle
                    img.img.img-fluid(src=`/img/chooseUs/${col[r].img}`, alt=`${col[r].img}`)
                if c == 'right'
                  .col-md-3.chooseUs__pic
                    img.img.img-fluid(src=`/img/chooseUs/${col[r].img}`, alt=`${col[r].header}`)
                  .col-md-9
                    .chooseUs__data.chooseUs__data-right
                      h3=col[r].header
                      p=col[r].text
        else
          .col-md.h-50.align-self-center
            each row, r in col
              .row.no-gutters.chooseUs__row
                if c == 'left'
                  .col-md-9
                    .chooseUs__data.chooseUs__data-left
                      h3=col[r].header
                      p=col[r].text
                  .col-md-3.chooseUs__pic
                    img.img(src=`/img/chooseUs/${col[r].img}`, alt=`${col[r].header}`)
                if c == 'middle'
                  .col-md-12.chooseUs__pic-middle
                    img.img(src=`/img/chooseUs/${col[r].img}`, alt=`${col[r].img}`)
                if c == 'right'
                  .col-md-3.chooseUs__pic
                    img.img(src=`/img/chooseUs/${col[r].img}`, alt=`${col[r].header}`)
                  .col-md-9
                    .chooseUs__data.chooseUs__data-right
                      h3=col[r].header
                      p=col[r].text
            
      
