section.section.chooseUs(
  style="background-image: url(/img/sofa.png)"
)
  .container.h-100
    .row.justify-content-center
      .col-md-auto
        h2 why choose us
        .divider
    .row.align-items-center.h-100.no-gutters
      - 
        var cols = {
          left: [
            {
              header: 'modern design',
              text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, provident?',
              img: 'design.png',
            },
            {
              header: 'Unique quality',
              text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo temporibus commodi accusamus repudiandae labore dicta ipsa sed ullam officiis. Sapiente.',
              img: 'quality.png',
            },
          ],
          right: [
            {
              header: 'honest prices',
              text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, consectetur.',
              img: 'prices.png',
            },
            {
              header: 'great support',
              text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique minus sequi voluptatem aspernatur id veniam!',
              img: 'support.png',
            },
          ]
        }
      each col, c  in cols
        .col-md.h-50
          each row, r in col
            .row.no-gutters
              if c == 'left'
                .media.mr-5
                  .media-body.mb-3
                    h3=col[r].header
                    p=col[r].text
                  .chooseUs__pic  
                    img.img-fluid(src=`/img/chooseUs/${col[r].img}`, alt="")
              if c == 'right'
                  .media.ml-5
                    .chooseUs__pic  
                      img.img-fluid(src=`/img/chooseUs/${col[r].img}`, alt="")
                    .media-body.mb-3
                      h3=col[r].header
                      p=col[r].text
