section.section.chooseUs(
  style="background-image: url(/img/sofa.png)"
)
  .container.h-100
    .row.justify-content-center
      .col-md-auto
        h2 why choose us
        .divider
    .row.align-items-center.h-100
      - 
        var cols = {
          left: [
            {
              header: 'modern design',
              text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, provident?',
              img: 'design.png',
            },
            {
              header: 'Unique quality',
              text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo temporibus commodi accusamus repudiandae labore dicta ipsa sed ullam officiis. Sapiente.',
              img: 'quality.png',
            },
          ],
          right: [
            {
              header: 'honest prices',
              text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, consectetur.',
              img: 'prices.png',
            },
            {
              header: 'great support',
              text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique minus sequi voluptatem aspernatur id veniam!',
              img: 'support.png',
            },
          ]
        }
      each col, c  in cols
        .col-md.h-50
          each row, r in col
            .row.no-gutters.media
              if c == 'left'
                .col-md-8
                  h3=col[r].header
                  p=col[r].text
                .col-md-2
                  .chooseUs__pic
                    img(src=`/img/chooseUs/${col[r].img}`, alt="")
                .col-md-2.hidden-md-down
              if c == 'right'
                .col-md-2.hidden-md-down
                .col-md-2
                  .media.chooseUs__pic
                    img(src=`/img/chooseUs/${col[r].img}`, alt="")
                .col-md-8
                  h3=col[r].header
                  p=col[r].text
